<!DOCTYPE html>
<html>
<head>
  <title>NSA Panel</title>
  <%= stylesheet_link_tag    'nsa_panel/application', media: 'all' %>
  <%= javascript_include_tag 'nsa_panel/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to 'NSA Panel', root_path, class: 'brand' %>

        <ul class="nav">
          <li><%= link_to 'Users', users_path %></li>
        </ul>
      </div>
    </div>

    <%= yield %>

    <footer>
      <%= image_tag 'nsa_panel/nsa-eagle-tiny.png' %>
    </footer>
  </div>
</body>
</html>
